# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# LaTeX files
*.aux
*.out
*.log
*.toc
*.synctex.gz
*.bbl
*.blg

# Matlab
*.m~
*.asv
*.mex*

# IntelliJ Idea
*.iml
.idea/

# Java
*.class
target/
log/

# Tomcat Shell files
tomcat-logs/
*.sh

# Package Files 
*.jar
*.war
*.ear
*.tar.gz
*.rar


# OSX
.DS_Store

# Data Generated locally
code/data/*
code/experiment/*
code/test/*

# latex
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/